<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StuMapper">
    
    <resultMap type="Stu" id="StuResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="age"    column="age"    />
    </resultMap>

    <sql id="selectStuVo">
        select id, name, age from stu
    </sql>

    <select id="selectStuList" parameterType="Stu" resultMap="StuResult">
        <include refid="selectStuVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="age != null "> and age = #{age}</if>
        </where>
    </select>
    
    <select id="selectStuById" parameterType="Long" resultMap="StuResult">
        <include refid="selectStuVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStu" parameterType="Stu" useGeneratedKeys="true" keyProperty="id">
        insert into stu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="age != null">age,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="age != null">#{age},</if>
         </trim>
    </insert>

    <update id="updateStu" parameterType="Stu">
        update stu
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="age != null">age = #{age},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStuById" parameterType="Long">
        delete from stu where id = #{id}
    </delete>

    <delete id="deleteStuByIds" parameterType="String">
        delete from stu where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>